.git
.gitignore
.github
.gitmodules
.husky
node_modules
Dockerfile*
docker-compose*
README.md
LICENSE
.vscode
.eslintrc
.eslintignore
.prettierrc
.prettieriignore
.unimportedrc.json
sonar-project.properties
tsdoc.json
typedoc.json