{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prefer-arrow-functions", "react-hooks", "immutable"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": 1, // Warn on console log
    "prefer-arrow-callback": 1, // Warn on function() { ... }
    "prefer-arrow-functions/prefer-arrow-functions": [
      "warn",
      {
        "classPropertiesAllowed": false,
        "disallowPrototype": false,
        "returnStyle": "unchanged",
        "singleReturnOnly": false
      }
    ],
    "react-hooks/rules-of-hooks": "warn", // Checks rules of Hooks
    // suppress errors for missing 'import React' in files
    "react/react-in-jsx-scope": "off",
    // allow jsx syntax in js files (for next.js project)
    "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }], //should add ".ts" if typescript project
    "react-hooks/exhaustive-deps": "none", // Checks effect dependencies
    "immutable/no-let": 1,
    "immutable/no-this": 1,
    "immutable/no-mutation": 1
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
