{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prefer-arrow-functions",
    "react-hooks",
    "immutable",
    "tsdoc",
    "simple-import-sort"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": 1,
    "prefer-arrow-callback": 1,
    "prefer-arrow-functions/prefer-arrow-functions": [
      "warn",
      {
        "classPropertiesAllowed": false,
        "disallowPrototype": false,
        "returnStyle": "unchanged",
        "singleReturnOnly": false
      }
    ],
    "react-hooks/rules-of-hooks": "warn",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".ts", ".tsx"] }
    ],
    "react-hooks/exhaustive-deps": 0,
    "immutable/no-let": 1,
    "immutable/no-this": 1,
    "immutable/no-mutation": 1,
    "tsdoc/syntax": "warn",

    // simple-import-sort handles grouping & alphabetizing
    "simple-import-sort/imports": [
      "warn",
      {
        "groups": [
          // external + your aliases all in one + relative imports
          ["^react","^@?\\w","^@mocks$","^@common/.*$","^@components$","^@core$","^@pages$","^@services$","^@shared$","^@store$", "^[./]"]
        ]
      }
    ],
    "simple-import-sort/exports": "warn"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
