{
  "semi": false,
  "tabWidth": 2,
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxBracketSameLine": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "proseWrap": "preserve",
  "overrides": [{ "files": "*.json", "options": { "tabWidth": 2 } }]
}
